/* THIS FILE CONTAINS CSS STYLES USED IN ALL PAGES */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pure-white: #ffffff;
  --background: #f2f4f7;
  --content-black: #171717;
  --lighter-background: #ecf0f6;
  --content-gray: #9d9d9d;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--background);
  width: 100%;
}

.nav-container {
  display: flex;
  justify-content: center;
}

nav {
  margin: 10px 0px 0px 0px;
  padding-left: 35px;
  width: 90vw;
  height: 60px;
  background-color: var(--pure-white);
  border-radius: 25px;
  display: flex;
  position: relative;
}

nav a {
  text-decoration: none;
}

.desktop-links {
  display: flex;
  margin: 15px 0px 0px 70px;
  gap: 65px;
}

.desktop-links li:first-child {
  margin-left: 30px;
}

.desktop-links li {
  list-style-type: none;
}

.desktop-links li a {
  display: flex;
  position: relative;
}

.desktop-links li div {
  margin-bottom: 0px;
  margin-top: 3px;
  color: #7b7b7b;
}

.desktop-links li div::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: var(--content-black);
  top: 39px;
  left: 0px;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.desktop-links li div:hover {
  color: #292929;
  transition: color 200ms ease-in-out;
}

.desktop-links li div:hover::after {
  opacity: 1;
}

.logo {
  display: flex;
  margin-left: 80px;
}

.logo img {
  margin-top: 10px;
}

.text {
  color: var(--content-black);
  margin: 15px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 20px;
}

.user-profile {
  margin: 4px 40px 0px 40px;
  padding: 0px 40px 0px 40px;
  display: flex;
  width: auto;
}

.user-profile img {
  width: 50px;
  height: 50px;
}

.user-profile div {
  margin: 15px 0px 0px 15px;
}

.user-name {
  color: var(--content-black);
}

.user-profile i {
  margin: 15px 0px 0px 10px;
  color: var(--content-black);
  cursor: pointer;
}

.logout-btn {
  width: 6vw;
  height: 30px;
  background-color: var(--content-black);
  color: var(--pure-white);
  cursor: pointer;
  border-radius: 5px;
  margin-left: 71vw;
  margin-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  visibility: hidden;
  z-index: 1;
}

.logout-btn a {
  color: var(--pure-white);
  text-decoration: none;
}

.logout-btn-visible {
  animation: fade-in 600ms ease-in-out 300ms forwards;
}

@keyframes fade-in {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.mobile-menu {
  margin: 23px 0px 0px 0px;
  position: absolute;
  left: 90%;
  transform: translateX(-50%);
  z-index: 3;
}

.mobile-menu > div:not(:first-child) {
  margin-top: 5px;
}

.mobile-menu-open > div:first-child {
  transform: rotate(45deg);
}

.mobile-menu-open > div:nth-child(2) {
  opacity: 0;
}

.mobile-menu-open > div:last-child {
  transform: rotate(-45deg);
}

.mobile-menu > div {
  display: block;
  width: 25px;
  height: 2px;
  background-color: hsl(233, 26%, 24%);
  transform-origin: 3px 1px;
  transition: all 300ms ease-in-out;
}

.mobile-menu-links {
  width: 40%;
  height: 100%;
  background-color: var(--pure-white);
  position: absolute;
  bottom: 0px;
  right: 0%;
  /* display: flex;
    flex-direction: column; */
  display: none;
  z-index: 2;
}

.mobile-menu-links-visible {
  display: block;
}

.no-scroll {
  overflow: hidden;
}

.user-profile-mobile {
  margin: 40px 0px 0px -40px;
  padding: 0px 40px 0px 40px;
  display: flex;
  flex-direction: column;
  width: auto;
}

.user-profile-mobile img {
  width: 50px;
  height: 50px;
}

.user-profile-mobile div {
  margin: 15px 0px 0px 15px;
}

.user-profile-mobile i {
  margin: 15px 0px 0px 10px;
}

.username {
  color: var(--content-black);
  cursor: pointer;
  text-decoration: none;
}

.user-div {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 60px;
  left: -20px;
  color: var(--content-black);
}

.logout-btn-mobile {
  width: 20vw;
  height: 30px;
  background-color: var(--content-black);
  color: var(--pure-white);
  border-radius: 5px;
  /* margin-left: 75vw;
    margin-top: 45px; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15%;
  left: 11px;
  visibility: hidden;
  z-index: 4;
}

.logout-btn-mobile a {
  color: var(--pure-white);
  text-decoration: none;
}

.logout-btn-mobile-visible {
  animation: fade-in 600ms ease-in-out 300ms forwards;
}

.mobile-links {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 10vh;
}

.mobile-links li {
  list-style-type: none;
}

.mobile-links a {
  text-decoration: none;
}

.nav-item {
  display: flex;
  gap: 4px;
  margin-left: 4px;
}

.nav-item div {
  color: #7b7b7b;
}

.nav-item div:hover {
  color: #292929;
  transition: color 200ms ease-in-out;
}

@media only screen and (width >= 64em) {
  .mobile-menu {
    display: none;
  }
}

/* nav media queries for mobile */
@media only screen and (20em <= width < 64em) {
  .desktop-links {
    display: none;
  }

  .user-profile {
    display: none;
  }

  .logout-btn {
    display: none;
  }

  .logo {
    position: absolute; /* Position it relative to the nav */
    margin-left: 20px;
    /* transform: translateX(-50%); Adjust to center if needed */
  }

  .logo div {
    display: none;
  }
}
