<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../public/styles/styles-general.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../public/styles/sales-styles.css"
    />
    <title>Sale Detail</title>
  </head>
  <body>
    <header>
      <div class="nav-container">
        <nav>
          <a href="products.html">
            <div class="logo">
              <img
                src="../public/svgs/shop-store-svgrepo-com.svg"
                alt="svg logo"
              />
              <div class="text">Store Manager</div>
            </div>
          </a>
          <a href="#" class="mobile-menu">
            <div></div>
            <div></div>
            <div></div>
          </a>
          <ul class="desktop-links">
            <li>
              <a href="products.html"
                ><img
                  src="../public/svgs/product-service-campaign-item-svgrepo-com.svg"
                  alt="dashboard logo"
                />
                <div>Products</div>
              </a>
            </li>
            <li>
              <a href="sales-page.html"
                ><img
                  src="../public/svgs/verification-svgrepo-com.svg"
                  alt="dashboard logo"
                />
                <div>Sales</div>
              </a>
            </li>
            <li>
              <a href="#"
                ><img
                  src="../public/svgs/verification-svgrepo-com.svg"
                  alt="dashboard logo"
                />
                <div>Cart</div>
              </a>
            </li>
            <li>
              <a href="users-page.html"
                ><img
                  src="../public/svgs/users-svgrepo-com.svg"
                  alt="dashboard logo"
                />
                <div>Users</div>
              </a>
            </li>
          </ul>
          <div class="user-profile">
            <img
              src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png"
              alt="user-image"
            />
            <a href="#" class="username"><div id="username"></div></a>
            <i class="fa fa-caret-down" id="dropdown" aria-hidden="true"></i>
          </div>
          <button id="logout-btn" class="logout-btn logout-btn-hidden">
            logout
          </button>
        </nav>
      </div>
    </header>
    <div class="mobile-menu-links">
      <div class="user-profile-mobile">
        <img
          src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png"
          alt="user-image-mobile"
        />
        <div class="user-div">
          <div id="username"></div>
          <i
            class="fa fa-caret-down"
            id="dropdown-mobile"
            aria-hidden="true"
          ></i>
        </div>
      </div>
      <div id="user-options-mobile" class="user-options-mobile">
        <a href="login.html">logout</a>
      </div>
      <ul class="mobile-links">
        <li>
          <a href="/products">
            <div class="nav-item">
              <img
                src="/svgs/product-service-campaign-item-svgrepo-com.svg"
                alt="dashboard logo"
              />
              <div>Products</div>
            </div>
          </a>
        </li>
        <li>
          <a href="/api/v1/sales">
            <div class="nav-item">
              <img
                src="/svgs/verification-svgrepo-com.svg"
                alt="dashboard logo"
              />
              <div>Sales</div>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="nav-item">
              <img
                src="/svgs/verification-svgrepo-com.svg"
                alt="dashboard logo"
              />
              <div>Cart</div>
            </div>
          </a>
        </li>
        <li>
          <a href="/api/v1/users">
            <div class="nav-item">
              <img src="/svgs/users-svgrepo-com.svg" alt="dashboard logo" />
              <div>Users</div>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="sale-details-container">
      <div class="sale-details">
        <div class="sale-details-div">
          <div>
            <p>Product Name</p>
            <p>Sale Id</p>
            <p>Date</p>
            <p>Quantity</p>
            <p>Total Amount</p>
            <p>Payment Method</p>
            <p>Status</p>
          </div>
          <div>
            <h4>Nike Dunk High</h4>
            <h4>#234614</h4>
            <h4>22-09-2024</h4>
            <h4>1</h4>
            <h4>260</h4>
            <h4>Card</h4>
            <h4>Completed</h4>
          </div>
        </div>
      </div>
    </div>
    <script src="../public/script.js"></script>
    <script src="../public/scripts/logout.js"></script>
    <script type="module" src="../public/scripts/sales.js"></script>
  </body>
</html>
